body {
	background: slategray;
	font-family: Trebuchet MS,Symbola,DejaVu sans,sans-serif;
}
header {
	background: wheat;
	text-align: center;
}
footer {
	text-align: center;
	clear: both;
}
aside {
	background: burlywood;
	text-align: center;
	float: left;
	width: 9%;
	word-wrap: break-word;
}
nav {
	text-align: left;
}
.vcard {
	/*border: solid;*/
	/*border-width: 1px;*/
	margin: 1px;
	font-size: 0.75em;
	background: wheat;
}
section {
	float: right;
	width: 89%;
}
article {
	background: cornsilk;
	padding-bottom: 1%;
}
p {
	padding: 1%;
}
