body {
	background: snow;
	font-family: Palatino,"Palatino Linotype",serif;
	font-size: 18px;
	line-height: 25px;
}
header {
	background: snow;
	padding: 1%;
}
footer {
	text-align: center;
	clear: both;
}
aside {
	background: snow;
	text-align: center;
	float: left;
	font-size: 0.9em;
	width: 9%;
	min-width: 8em;
	word-wrap: break-word;
	padding: 1px;
}
nav {
	text-align: left;
}
.vcard {
	border: solid;
	border-width: 1px;
	margin: 1px;
	font-size: 0.75em;
	background: snow;
}
.vcard img {
	width: 90%;
}
section {
	float: right;
	width: 87%;
}
article {
	background: snow;
	padding-bottom: 1%;
}
a:link {
	color: darkslategray;
}
a:visited {
	color: slategray;
}
a:hover {
	color: blue;
}
a:active {
	color: slategray;
	background-color: yellow;
}
p {
	padding: 1%;
}
h2 a {
	color: black;
}
p.p-summary {
	font-size: 0.75em;
	font-style: italic;
}
